*,*:before,*:after{box-sizing:border-box;}
html{font-size: 100%;}
body{font: 16px/1.4 Helvetica, Arial,sans-serif;margin:0;padding:0;background:#c8d3d9}
h1,h2,h3,h4{margin-top:0}
.row{display:table;width:100%}
.row:before,
.row:after{content:" ";display:table}
.column{float:left;padding-left:.83333rem;padding-right:.83333rem;width:100%}
.colspan-1{width:8.33333%}
.colspan-2{width:16.66667%}
.colspan-3{width:25%}
.colspan-4{width:33.33333%}
.colspan-5{width:41.66667%}
.colspan-6{width:50%}
.colspan-7{width:58.33333%}
.colspan-8{width:66.66667%}
.colspan-9{width:75%}
.colspan-10{width:83.33333%}
.colspan-11{width:91.66667%}
.colspan-12{width:100%}
.container{width:80rem;margin:0 auto;padding:2rem 1rem;border-left:1px solid #ccc;border-left:1px solid #bbb;background:#fff}
.navigation ul{margin:2rem 0 0;padding:0;list-style:none;background:#fff}
.navigation li{display:inline-block;cursor:pointer;padding:10px 30px;color:#375DD8}
.navigation li.active,.navigation li:hover{border-bottom:5px solid #FF8436}
.navigation li.active{color:#789}
.tab_content{border:1px solid #d5d6d9;display:none;padding:1em}
.tab_content.active{display:block}
.correlated-graph{padding: 2rem 0}
.correlated-graph h3{margin-bottom:0.5rem;font-size:1.2rem;color:#666;text-align:center}
.correlated-graph > div{margin:0 auto;width:800px}
.total_votes{margin:1rem;text-align:right;color:#666}
.total_votes span{font-weight:bold;color:#35b}
.last_update{margin:1rem;font-size:0.8em;text-align:right;color:#666}
.last_update span{font-weight:bold;color:#35b}
.right{text-align: right}
footer{margin:1rem 0 0;color:#666;padding:1rem 0 0}
footer a{color:#37a;text-decoration:none}
p{font-size:0.9rem}
input:invalid + span{position: relative;}
input:invalid + span:after{content: '✖';position: absolute;right: -18px;}
input:valid + span{position: relative;}
input:valid + span:after{content: '✓';position: absolute;right: -18px;}